.car-rental-card {
    max-width: 900px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px;
  }
  
  .car-info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    
  }
  
  .car-image {
    width: 400px;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
    background-color: #f3f3f3;
    flex-shrink: 0;
  }
  
  .car-description {
    flex: 1; /* Ocupa el resto del espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    position: relative;
  }
  
  .car-name {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
  }
  .car-subtitle {
    color: #666;
    margin-bottom: 15px;
  }
  
  .car-specs {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 70px 80px; /* espacio entre filas y columnas */
    justify-content: center; /* centra el grid horizontalmente */
    font-size: 1.8em;
    color: #444;
    margin-top: 80px;
  }
  
  
  .main-div{
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  
  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .option.selected {
    border: 2px solid #000;
  }
  
  .option-main {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el radio y el texto */
  }
  
  .option-main input {
    margin: 0;
  }
  
  .option-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .option-text strong{
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .included-tag {
    color: green;
    font-weight: bold;
  }
  
  .price-tag {
    background-color: orange;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.9em;
  }
  
  .price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    position: relative;
  }
  
  .price-info {
    display: flex;
    flex-direction: column;
  }
  
  .price-info strong {
    font-size: 1.4em;
  }
  
  .total-price {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .price-info a {
    font-size: 0.9em;
    text-decoration: underline;
    color: #333;
  }
  
  .price-top {
    display: flex;
    align-items: center;
    gap: 10px; 
  }

  .days-reserved{

    font-size: 0.7em;
    position: relative;
    top: 4px;
    color: #0b0a0a77;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .reserve-info {
    display: flex;
    justify-content: space-between;
    top: 5px;
    gap: 50px; /* espacio entre entrega y devolución */
    font-size: 0.95em;
    margin-right: 20px;
    color: #444;
    position: relative;
    
  }
  
  .pickup-info,
  .return-info {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .title {
    font-weight: bold;
    font-size: 1em;
    color: #1111113e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  }
  
  .location {
    font-size: 0.95em;
    color: #222;
    margin-bottom: 2px;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .date {
    font-size: 0.9em;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .next-button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: #e05500;
  }
  
