.background {
  background-color: #fcfcfc;
}

.mainContainer{
  display: flex;
  margin-top: 20px;
}

.formContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  position: relative;
  background-color: #a6afb4bd;
  border-radius: 5%;
}
.rentalDetailsContainer{
  margin: 30px;
  margin-right: 10%;
}

.header{
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.formTitle{
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2, h3, h4 {
  color: #333;
  margin-bottom: 1rem;
}

.fieldGroup {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #444;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input:focus {
  border-color: #007bff;
  outline: none;
}

.error {
  color: #d9534f;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.additionalDriver {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border-radius: 6px;
}

.button {
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 4px;
  margin-right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton {
  background-color: #007bff;
}

.removeButton{
  background-color: #dc3545;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.button:hover {
  background-color: #0056b3;
}

.removeButton {
  background-color: #dc3545;
}

.removeButton:hover {
  background-color: #a71d2a;
}
.formButton{
  margin-bottom: 15px;
  margin-top: 10px;
}

.ageCheckbox{
  margin-right: 10px;
}

.submitButton {
  background-color: #28a745;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.submitButton:hover {
  background-color: #28a746bf;
}