.home-main-container {
    min-height: 100vh;
    background-color: #f7fafc; 
    padding: 48px 16px;
    
}

.home-inner-container {
    max-width: 1120px;
    margin: 0 auto;

}

.heading {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    color: #1a202c; 
    margin-bottom: 32px;
}

@media (min-width: 640px) {
    .main-container {
    padding-left: 24px;
    padding-right: 24px;
    }
}

@media (min-width: 1024px) {
    .main-container {
    padding-left: 32px;
    padding-right: 32px;
    }
}