.homeFormContainer {
  background-color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 24px 32px;
  margin-bottom: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.formLabel {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 8px;
}

.formInput {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  padding: 8px 12px;
  color: #4a4a4a;
  font-size: 16px;
}

.formInput:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(66, 153, 225, 0.5);
  border-color: #3182ce;
}

.formButton {
  background-color: #4299e1;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.formButton:hover {
  background-color: #2b6cb0;
}

.formButton:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(66, 153, 225, 0.5);
}

.horizontalCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}

.location {
  gap: 70px;
}

.pickupReturn {
  gap: 130px;
  margin-right: 130px;
}
