* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

:root {
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Robot", serif;
  --primary-color: #1a73e8;
  --secondary-color: #ff9800;
}